In [1]:
string="hello"
print(string)

hello

In [2]:
string="hellooooo"
print(string)

hellooooo

In [3]:
string="this is awasome!!"
print(string[2:2:9])

In [5]:
string="hellooooo"
print(string.upper())

HELLOOOOO

In [6]:
x = "Lionel Messi"
y = 'Gareth Bale'
z='''This is a
multiline string. '''
print(z)

This is a
multiline string.

In [7]:
print(x)

Lionel Messi

In [8]:
print(y[2])

r

In [9]:
text = "pYtHon"
# convert all characters to lowercase
lowercased_string = text.casefold()

print(lowercased_string)
# Output: python

python

In [11]:
sentence = "Shruthika"
# returns the centered padded string of length 24
new_string = sentence.center(24, '*')

print(new_string)

*******Shruthika********

In [17]:
list1=['c','this is the list item',102,103,45]
list1.append("changed")
print(list1)
list1.insert(1,30)
print(list1)
list1.insert(2,'hello')
print(list1)
list1.clear()
print(list1)

['c', 'this is the list item', 102, 103, 45, 'changed']
['c', 30, 'this is the list item', 102, 103, 45, 'changed']
['c', 30, 'hello', 'this is the list item', 102, 103, 45, 'changed']
[]

In [19]:
str1="hello"
str2="good"
x=10
string3=str1+str2
print(string3)

hellogood

In [23]:
print("Enter two numbers")
x=float(input())
y=int(input())
print(x+y)

Enter two numbers
10
10
20.0

In [25]:
inp=input("Enter farenheit")
try:
    fahr=float(inp)
    cel=(fahr-32.0)*5.0/9.0
    print(cel)
except:
    print("Enter a number")

Enter farenheit20
-6.666666666666667

In [35]:
a=10
b=15
c=20
if b>c:
    print("B is greater")
elif b>c:
    print("a is greater")
    
else:
    print("c is greater")

c is greater

In [39]:
student=1
us=int(input("who failed"))
while student<=10:
    student=student+1
    if student==us:
        continue
    print("congratz",student)

who failed5
congratz 2
congratz 3
congratz 4
congratz 6
congratz 7
congratz 8
congratz 9
congratz 10
congratz 11

In [ ]:
student=1
us=int(input("who failed"))
while student<=10:
    if student==us:
        continue;
    print("congratz",student)    
    student=student+1

In [38]:
a=10
b=15
c=20
if b>c:
    print("B is greater")
elif b>c:
    print("a is greater")
    
else:
    print("c is greater")

c is greater

In [40]:
list1=[1,2,3,4,5,6,7,8,9,10]
for i in list1:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [43]:
string="hello hai"
for i in string:
    print(i)

h
e
l
l
o

h
a
i

In [50]:
i=1
s=int(input("Enter your expected salary"))
while i<=10:
     if s==i:
        break
     print(1,"Accepted")
     i+=1
else:
    print("He takes all money")

Enter your expected salary5
1 Accepted
1 Accepted
1 Accepted
1 Accepted

In [51]:
i=1
s=int(input("Enter your expected salary"))
while i<=10:
     if s==i:
        break
     print(1,"Accepted")
     i+=1
else:
    print("He takes all money")

Enter your expected salary10
1 Accepted
1 Accepted
1 Accepted
1 Accepted
1 Accepted
1 Accepted
1 Accepted
1 Accepted
1 Accepted

In [52]:
i=1
s=int(input("Enter your expected salary"))
while i<=10:
     if s==i:
        break
     print(1,"Accepted")
     i+=1
else:
    print("He takes all money")

Enter your expected salary15
1 Accepted
1 Accepted
1 Accepted
1 Accepted
1 Accepted
1 Accepted
1 Accepted
1 Accepted
1 Accepted
1 Accepted
He takes all money

In [60]:
list1=[1,2,3,4,5,6,7,8,9,10]
element=int(input("Enter number to search"))
for i in list1:
    if list1==element:
        print("Element found")
        break;
    else:       
    print("Element not found")

IndentationError: expected an indented block (3120362802.py, line 8)

In [63]:
a="hello"
b=" hai"
a,b=b,a
print("value of a and b is",a,"and",b)

value of a and b is  hai and hello

In [64]:
x=[1,2,3,4]
print(type(x))

<class 'list'>

In [67]:
x=[1,2,3,4]
print(id(x))

140175635641280

In [69]:
for i in range(4,10):
    print(i)

4
5
6
7
8
9

In [70]:
list1=['hello','myke','devid','messi']
list1.sort()
print(list1)

['devid', 'hello', 'messi', 'myke']